
@media only screen and (min-width: 1200px){
    .container{
        width: 1170px;
        max-width: 1170px;
    }
}
@media only screen and (min-width:990px) and (max-width:1199px){
    .container {
		max-width: 990px;
		width: 990px
	}
}
@media (min-width:992px) {
    .col-md-1,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-md-10,
	.col-md-11,
	.col-md-12 {
		float: left
	}

	.col-md-1 {
		width: 8.33333%
	}

	.col-md-2 {
		width: 16.66667%
	}

	.col-md-3 {
		width: 25%
	}

	.col-md-4 {
		width: 33.33333%
	}

	.col-md-5 {
		width: 41.66667%
	}

	.col-md-6 {
		width: 50%
	}

	.col-md-7 {
		width: 58.33333%
	}

	.col-md-8 {
		width: 66.66667%
	}

	.col-md-9 {
		width: 75%
	}

	.col-md-10 {
		width: 83.33333%
	}

	.col-md-11 {
		width: 91.66667%
	}

	.col-md-12 {
		width: 100%
	}

	.col-md-pull-0 {
		right: auto
	}

	.col-md-pull-1 {
		right: 8.33333%
	}

	.col-md-pull-2 {
		right: 16.66667%
	}

	.col-md-pull-3 {
		right: 25%
	}

	.col-md-pull-4 {
		right: 33.33333%
	}

	.col-md-pull-5 {
		right: 41.66667%
	}

	.col-md-pull-6 {
		right: 50%
	}

	.col-md-pull-7 {
		right: 58.33333%
	}

	.col-md-pull-8 {
		right: 66.66667%
	}

	.col-md-pull-9 {
		right: 75%
	}

	.col-md-pull-10 {
		right: 83.33333%
	}

	.col-md-pull-11 {
		right: 91.66667%
	}

	.col-md-pull-12 {
		right: 100%
	}

	.col-md-push-0 {
		left: auto
	}

	.col-md-push-1 {
		left: 8.33333%
	}

	.col-md-push-2 {
		left: 16.66667%
	}

	.col-md-push-3 {
		left: 25%
	}

	.col-md-push-4 {
		left: 33.33333%
	}

	.col-md-push-5 {
		left: 41.66667%
	}

	.col-md-push-6 {
		left: 50%
	}

	.col-md-push-7 {
		left: 58.33333%
	}

	.col-md-push-8 {
		left: 66.66667%
	}

	.col-md-push-9 {
		left: 75%
	}

	.col-md-push-10 {
		left: 83.33333%
	}

	.col-md-push-11 {
		left: 91.66667%
	}

	.col-md-push-12 {
		left: 100%
	}

	.col-md-offset-0 {
		margin-left: 0
	}

	.col-md-offset-1 {
		margin-left: 8.33333%
	}

	.col-md-offset-2 {
		margin-left: 16.66667%
	}

	.col-md-offset-3 {
		margin-left: 25%
	}

	.col-md-offset-4 {
		margin-left: 33.33333%
	}

	.col-md-offset-5 {
		margin-left: 41.66667%
	}

	.col-md-offset-6 {
		margin-left: 50%
	}

	.col-md-offset-7 {
		margin-left: 58.33333%
	}

	.col-md-offset-8 {
		margin-left: 66.66667%
	}

	.col-md-offset-9 {
		margin-left: 75%
	}

	.col-md-offset-10 {
		margin-left: 83.33333%
	}

	.col-md-offset-11 {
		margin-left: 91.66667%
	}

	.col-md-offset-12 {
		margin-left: 100%
	}
}
@media (min-width:961px) and (max-width:989px) {
	.container {
		max-width: 960px;
		width: 960px
    }
}
@media (min-width:768px) and (max-width:960px) {
	.container{
		width: 768px;
		max-width: 1170px
    }
}
@media (max-width:767px) {
	.worlk_row{
		padding-right: 15px !important;
	}
}
@media (max-width:413px) {

}
.header .header_user{
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: 1px solid #ccc;
    line-height: 30px;
    text-align: center;
    color: hsla(0,0%,100%,.65);
    cursor: pointer;
}
.header .nav{
    padding: 0;
}
.header .header-wrapper{
    height: 70px;
    line-height: 70px;
    
}
.header .bg-dark{
    background: #0D0101;
}
.header .header-wrapper .navbar-brand {
	width: 180px;
	height: 51px;
	display: inline-block;
	background-size: cover;
	padding: 0;
	margin-left: 0;
	margin-right: 20px;
	background-image: url("../../images/logo.png");
    text-indent: -2000em;
    cursor: pointer;
}
.navbar-light .nav-item .nav-link{
    color: #fff;
}
.navbar-light .nav-item.active .nav-link{
    color: hsla(0,0%,100%,.65);
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{
    color: hsla(0,0%,100%,.65);
}

/* 页脚 */
.footer {
	font-size: 14px;
	background: #595758;
    color: #fff;
    width: 100%;
}
.row:after,
.row:before {
	content: " ";
	display: table
}

.row:after {
	clear: both
}
.footer h4 {
	font-size: 16px;
	line-height: 2em;
	margin-top: 10px;
	margin-bottom: 20px;
	font-weight: 700
}

.footer .footer-menu {
	padding: 50px 0
}

.footer .footer-about .footer-logo img {
	width: 80%;
	height: auto
}

.footer .footer-about .footer-desc {
	margin: 20px 0
}

.footer ul {
	list-style: none;
	margin: 0;
	padding: 0
}

.footer ul li {
	line-height: 30px
}

.footer a {
	color: #fff;
	margin-left: 16px;
}

.footer a:hover {
	color: #c0c0c0;
	text-decoration: underline
}

.footer .footer-social {
	text-align: left
}

.footer .footer-social ul li {
	display: inline-block;
	margin-right: 10px
}

.footer .footer-social ul li a {
	color: #fff;
	background-color: #333
}

.footer .footer-social ul li a:hover {
	text-decoration: none
}

.footer .footer-social ul li.qrcode-wechat .dropdown-menu {
	width: 160px;
	left: 50%;
	margin-left: -80px;
	text-align: center;
	padding: 10px;
	min-width: 160px
}

.footer .footer-social ul li.qrcode-wechat .dropdown-menu img.img-responsive {
	display: inline-block
}

.footer .footer-social ul li.qrcode-wechat .dropdown-menu p {
	margin: 0;
	font-size: 12px;
	color: #9e9ea6
}

.footer .copyright {
	background: #595758;
	line-height: 50px;
	text-align: left;
	color: #fff;
}
.footer .dingyue{
	margin-top: 10px;
}
.footer .dingyue h4{
	text-align: right;
    margin-bottom: 10px !important;
	margin-right: 40px !important;
}
.footer .dingyue form .btn-primary {
	background: #ce8cad !important;
	border-color: #fff !important;
	width: 40px;
	height: 34px;
}
.form-control {
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.form-control::-moz-placeholder {
	color: #999;
	opacity: 1
}

.form-control:-ms-input-placeholder {
	color: #999
}

.form-control::-webkit-input-placeholder {
	color: #999
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	background-color: #eee;
	opacity: 1
}

.form-control[disabled],
fieldset[disabled] .form-control {
	cursor: not-allowed
}

textarea.form-control {
	height: auto
}
.form-group-wrapper{
    display: flex;
	justify-content: flex-end;
	padding-right: 10px;
}
.footer .btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.btn.btn-primary>.fa{
    line-height: 22px !important;
}
.widget_text.widget.widget_custom_html{
    margin-left: 70px !important;
}
.widget-title {
	margin-top: 20px !important;
    position: relative;
    margin-bottom: 10px !important;
    text-transform: uppercase;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
}
.widget-title-collect{
	position: relative;
    margin-bottom: 25px !important;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.textwidget p {
    margin: 0 0 1.25rem;
    text-align: left;
    font-size: 16px;
    line-height: 30px;
}
.textwidget{
    text-align: center;
}
.main-footer{
	padding: 0 24px;
}
.navbar-light a{
	text-decoration: none !important;
	font-size: 20px;
}
.footer .nav-link{
	padding: .5rem 2rem;
}
/* 主要内容区域 */
.main_content{
    min-height: 500px;
}
/* banner  */
.main_content .banner{
    height: 200px;
    text-align: center;
}
.main_content .banner img{
    height: 100%;
    width: 100%;
}
.container-fluid-wrapper{
	padding: 0 28px;
}
/* 左侧展示区 */
/* 作品图片展示项 */
.recommented_gallery{
	margin: 15px 0 45px 0;
}
.recommented_gallery img{
    width: 100%;
    height: 200px;
}
.gallery_item{
    height: 300px;
    padding: 15px;
	margin-bottom: 40px;
	box-sizing: border-box;
}
.gallery_item img{
    width: 100%;
    height: 230px;
}
.gallery_item .des{
    font-size: 12px;
    color: #999;
    line-height: 30px;
}
.gallery_item .title{
    color: #333;
    font-size: 14px;
    text-align: left;
}
.worlk_row{
	padding-right: 60px;
}
/* 列表 */
.home_right_wrapper{
	width: 100%;
}
.home_right_wrapper::after{
	content: '';
	display: block;
	clear: both;
	visibility: hidden;
}
.home_right{
	margin-top: 15px;
	width: 292px;
	box-sizing: border-box;
	float: right;
}
.home_right-list-item{
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	font-size: 14px;
}
.list-group-item.active{
 background: #595758;
 border: 1px solid #595758;
 height: 30px;
 line-height: 30px;
 padding: 0 10px;
 font-size: 14px;
}
.home_right_img_wrapper{
	margin-top: 60px; 
}
.home_right_img{
	text-align: right;
	margin-bottom: 60px;
}
.home_right_img img{ 
	width: 100%;
	height: 240px;
}

/* 文字超出省略 */
.text_overflow{
	overflow: hidden;
    text-overflow:ellipsis;
	white-space: nowrap;
	width: 100%;
}