.swiper-container {
	height: 200px;
	position: relative;
}
.swiper-container .swiper-pagination {
	position: absolute;
	left: 10%;
	width: 200px!important;
}
.swiper-pagination-bullet-active {
	background: #101010 100% !important;
	left: 10% !important;
	opacity: 0.6 !important;
}
/* 最新专辑 */
.scroll_area{
    height: 266px;
    overflow: hidden;
}
.scroll_area_title {
	margin: 1rem 0!important;
}
.swiper-container2 {
	height: 160px;
	position: relative;
}
.swiper-container2 img {
	width: 224px;
	height: 166px
}

/* 加载更多 */
.load_more{
	text-align: center;
	margin:30px 0 60px 0;
}
.load_more .btn{
	padding: 5px 20px !important;
}
.swiper-container2 .img_box{
	overflow: hidden;
	text-align: center;
	line-height: 166px;
	height: 166px;
	display: flex;
	align-items: center;
}
.swiper-container2 .img_box>img {
	display: flex;
	width: 100%;
	height: auto;
	min-height: 166px;
}
.gallery_item .img_box,
.home_right_img_wrapper .img_box{
	align-items: center;
	overflow: hidden;
	text-align: center;
	line-height: 230px;
	height: 230px;
	display: flex;
}
.home_right_img_wrapper .img_box{
	margin-bottom: 1.8rem;
}
.gallery_item .img_box>img,
.home_right_img_wrapper .img_box>img
{
	width: 100%;
	height: auto;
	min-height: 230px;
}