.swiper-container {
	height: 580px;
	position: relative;
}
.swiper-slide {
	position: relative;
}
.a {
	color: #fff;
    display: block;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform:translateX(-50%);
    font-size: 50px;
	color: #5a5758!important;
	line-height: 70px;
	color: #fff !important;
}
.swiper-pagination-bullet-active {
	background: #101010 100% !important;
	left: 10% !important;
	opacity: 0.6 !important;
}
/* 最新专辑 */
.scroll_area{
    height: 266px;
}
.scroll_area_title {
	margin: 1rem 0!important;
	font-size: 1.2rem;
	font-weight: bold;
}


/* 加载更多 */
.load_more{
	text-align: center;
	margin:30px 0 60px 0;
}
.load_more .btn{
	padding: 5px 20px !important;
	background: #5a5758;
	border-color: #5a5758;
}
.swiper-container2 {
	height: 160px;
	position: relative;
}
.swiper-container2 img {
	width: 224px;
	height: 166px
}
.swiper-container2 .img_box{
	overflow: hidden;
	text-align: center;
	line-height: 166px;
	height: 166px;
	width: 230px;
	margin-right: 10px;
}
.swiper-container2 .img_box>img {
	width: 100%;
	height: auto;
	min-height: 166px;
}
.multiple-items{
	margin-right: -10px;
}
.multiple-items .slick-prev{
	z-index: 99;
	left: -20px;
}
.slick-prev:before, .slick-next:before{
	font-size: 48px !important;
	/* position: absolute;
    top: 50%;
    margin-top: -6px;
    left: 0;
    width: 100%;
    text-align: center;
    text-indent: 0;
    font-weight: 700;
    color: inherit;
    opacity: .8; */
}
.multiple-items .slick-next{
	z-index: 99;
	right:-10px;
}
.gallery_item .img_box,
.home_right_img_wrapper .img_box{
	align-items: center;
	overflow: hidden;
	text-align: center;
	line-height: 230px;
	height: 230px;
	display: flex;
}
.home_right_img_wrapper .img_box{
	margin-bottom: 1.8rem;
}

.gallery_item .img_box>img,
.home_right_img_wrapper .img_box>img
{
	width: 100%;
	height: auto;
	min-height: 230px;
}