.swiper-container {
	height: 200px;
	position: relative;
}
.swiper-container .swiper-pagination {
	position: absolute;
	left: 10%;
	width: 200px;
}
.swiper-pagination-bullet-active {
	background: #101010 100%;
}
/* 最新专辑 */
.scroll_area{
    height: 266px;
    overflow: hidden;
}
.scroll_area_title {
	margin: 1rem 0!important;
}
.swiper-container2 {
	height: 160px;
	position: relative;
}
.swiper-container2 img {
	width: 230px;
	height: 160px
}